# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
.venv/
venv/
env/
ENV/

# Distribuição / build
build/
dist/
*.egg-info/
.eggs/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de configuração local
.env

# IDEs e editores
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db